.content {
  height: 100%;
  display: flex;
}
.chatbox-container {
  /* background-color: aqua; */
  /* flex: 1; */
  flex-grow: 1;
  /* padding-top: 10px; */
  /* padding-left: 10px; */
  color: beige;
  width: 100%;
  height: 100%;
}
