.content {
  height: 100%;
  display: flex;
}
.chatbox-container {
  /* background-color: aqua; */
  /* flex: 1; */
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 10px;
  color: beige;
}
.history-container {
  background-color: #fafafa;
  width: 30%;
  padding-top: 10px;
}
.show-history-container {
  position: absolute;
  right: 0;
  padding-top: 10px;
}
