.section {
  width: 100%;
  /* background-color: yellow; */
  flex-grow: 1;
  display: flex;
  background-image: url("../assets/background.png");
  background-size: cover;
  position: relative;
}
.nav {
  /* background-color: blueviolet; */
  width: 18%;
}
.contentfield {
  /* background-color: blue; */
  width: 82%;
}
.archivePopUp {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 1;
}
.archivePopUpdiv {
  width: 490px;
  height: 270px;
  /* background-color: rgb(31, 25, 48); */
  background: transparent;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.closebuttondiv {
  display: flex;
  justify-content: end;
  margin-right: 2px;
  background: transparent;
}
.closebutton {
  border: 1px dotted white;
  border-radius: 60%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
}
.archivePopUpContent {
  flex-grow: 1;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.archivePopUpContainer {
  margin: 10px 10px 10px 20px;
  width: 100%;
  height: 80%;
  /* background-color: rgb(179, 103, 103); */
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: transparent;
}
.archivePopUp-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.archivePopUp-text-1 {
  display: flex;
  align-items: center;
  gap: 15px;
  background: transparent;
}
.archivePopUp-text-1 span {
  font-size: 18px;
  font-weight: 500;
  color: rgb(85, 84, 84);
  text-shadow: 1px 1px 1px #888;
}
.archivePopUp-text-2 {
  font-size: 13px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #888;
}
.archivePopUp-text-3 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 84, 84);
  text-shadow: 1px 1px 1px #888;
}
.archivePopUp-button {
  display: flex;
  align-items: center;
  background: transparent;
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 10px;
  width: 90%;
  justify-content: space-around;
}

.archivePopUp-button-cancel {
  font-size: 12px;
  color: rgb(29, 27, 27);
  font-weight: 700;
  background-color: #b8b0b0;
  border-radius: 5px;
  min-width: 100px;
}
.archivePopUp-button-request {
  font-size: 12px;
  color: rgb(29, 27, 27);
  font-weight: 700;
  background-color: #b8b0b0;
  border-radius: 5px;
  min-width: 100px;
}
.archivePopUp-button-archive {
  font-size: 12px;
  color: rgb(29, 27, 27);
  font-weight: 700;
  background-color: #eeb90a;
  border-radius: 5px;
  min-width: 100px;
}
