.section {
  width: 100%;
  /* background-color: yellow; */
  flex-grow: 1;
  display: flex;
  background-image: url("../assets/background.png");
  background-size: cover;
}
.nav {
  /* background-color: blueviolet; */
  width: 18%;
}
.contentfield {
  /* background-color: blue; */
  width: 82%;
}
